.scrollReveal {
  margin: 20px auto;
  max-width: 85%;
  text-align: center;
}

.scrollRevealText {
  font-size: clamp(1.6rem, 4vw, 3rem);
  letter-spacing: -1.75px;
  font-weight: 600;
}

.word {
  display: inline-block;
}
